[Desktop Entry]
Name=Scorched 3D
Comment=A game based on the classic DOS game Scorched Earth
Exec=scorched3d
Icon=scorched3d.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Game;ActionGame;StrategyGame;
