[Desktop Entry]
Encoding=UTF-8
Name=TightVNC
GenericName=VNCViewer (RFB Client)
SwallowExec=
Exec=vncviewer
MimeType=
Icon=/usr/share/pixmaps/tightvnc-logo.png
Path=
TerminalOptions=
Terminal=false
Type=Application
Categories=Application;Network;
