[Desktop Entry]
Name=Video4Linux Control Panel
Comment=Control brightness / contrast / etc. of video input devices
Exec=v4l2ucp
Icon=v4l2ucp
Terminal=false
StartupNotify=false
Type=Application
Categories=AudioVideo;
