# configuration file for fmtutil; xmltex flavour.
# invoke with 'fmtutil --cnffile <file> --all'
#
# format        engine  pattern-file    arguments
xmltex          etex     language.dat    &latex xmltex.ini
pdfxmltex       pdfetex  language.dat    &pdflatex pdfxmltex.ini
